*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
body{
    background-color: #b4a1a1;
    overflow-x: hidden;
}
::-webkit-scrollbar{
    width: 0.8vw;
}
::-webkit-scrollbar-track{
    background-color: #1a1a1a ;
}
::-webkit-scrollbar-thumb{
    background: linear-gradient( transparent, rgb(121, 134, 128));
    height: 100px;
    border-radius: 5px;
}
.title{
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2em;
    margin-top: 0.5em;
    color: rgb(41, 35, 35);
}
#searchbar{
    margin-left: 80%;
    margin-bottom: 5em;
    background-color: #f1e4e4;
    outline: none;
    border: white solid 1px;
    padding: 1em;
    color: rgb(10, 1, 1);
    font-size: 1rem;
    font-weight: bold;
}
::placeholder{
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: bold;
}
.datum{
    display: flex;
    flex-direction: column;
}
.datapiece{
    width: 100vw;
    border: 2px rgb(3, 3, 3) solid;
    padding: 1em 0em;
    justify-content: space-around;
}
.subtitles{
    display: flex;
    width: 100vw;
    justify-content: space-around;
}
li{
    list-style: none;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.8em;
    border-bottom: 2px solid rgb(0, 0, 0);

}
.link{
    color: rgb(0, 0, 0);
    font-size: 1rem;
    justify-self: normal;

}
.center {
    text-align: center;
    }